<div *ngFor="let user of userList"
 class="flex flex-row py-4 px-2 items-center border-b-2 border-l-4 border-blue-400">
  <div class="w-1/4">
    <img
      src="https://source.unsplash.com/L2cxSuKWbpo/600x600"
      class="object-cover h-12 w-12 rounded-full"
      alt=""
    />
  </div>
  <div class="w-full pl-2">
    <div class="text-sm font-semibold flex"><h1>{{user.name}}</h1> <h1 class="pl-20" style="font-size: 10px;">{{user.created_at}}</h1></div>
    <span style="font-size: 11px;" class="text-gray-500 p-0">correo: {{user.email | date: 'dd-MM-yyyy'}}</span>
  </div>
</div>



<!-- <div
 class="flex flex-row py-4 px-2 items-center border-b-2 border-l-4 border-blue-400">
  <div class="w-1/4">
    <img
      src="https://source.unsplash.com/L2cxSuKWbpo/600x600"
      class="object-cover h-12 w-12 rounded-full"
      alt=""
    />
  </div>
  <div class="w-full pl-2">
    <div class="text-sm font-semibold flex"><h1>asds</h1> <h1 class="pl-20" style="font-size: 10px;">9:15</h1></div>
    <span style="font-size: 11px;" class="text-gray-500 p-0">correo: sssssdfsfsfs</span>
  </div>
</div> -->
